<h1>Product Details</h1>
<h2><%=@product_details.title%></h2>
<ul>
  <li>Description: &nbsp; <%= @product_details.description %></li>
  <li>Deadline: &nbsp;<%= @product_details.deadline %></li>
</ul>
